<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATCHON</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('matchon.kakao-api')}+'&libraries=services'"></script>
    <script th:src="@{/js/matchup/matchup-request-edit.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-request-edit.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <div id="matchup-request-register-dto"
         th:data-sports-type-name="${resMatchupRequestDto.sportsTypeName}"
         th:data-sports-facility-name = "${resMatchupRequestDto.sportsFacilityName}"
         th:data-sports-facility-address="${resMatchupRequestDto.sportsFacilityAddress}"
         th:data-match-datetime="${resMatchupRequestDto.matchDatetime}"
         th:data-match-endtime="${resMatchupRequestDto.matchEndtime}"
         th:data-current-participant-count="${resMatchupRequestDto.currentParticipantCount}"
         th:data-max-participants="${resMatchupRequestDto.maxParticipants}"
         th:data-participant-count="${resMatchupRequestDto.participantCount}"
         th:data-matchup-status="${resMatchupRequestDto.matchupStatus}"
         th:data-matchup-request-submitted-count="${resMatchupRequestDto.matchupRequestSubmittedCount}"
         th:data-matchup-cancel-submitted-count="${resMatchupRequestDto.matchupCancelSubmittedCount}"
         th:data-is-deleted="${resMatchupRequestDto.isDeleted}"
    >
    </div>
    <h2 class="page-title">MATCHUP 참가 요청 수정</h2>
    <div class="form-container">
        <form th:object="${resMatchupRequestDto}" id="board-info">
            <div class="form-group">
                <label>
                    종목
                    <input type="text" th:value="*{sportsTypeName}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    작성자
                    <input type="text" th:value="*{boardWriter}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    경기장명
                    <input class="truncate" type="text" th:value="*{sportsFacilityName}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    경기장 주소
                    <input class="truncate" type="text" th:value="*{sportsFacilityAddress}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>경기장 위치</label>
                <div id="map" style="width:100%;height:350px;"></div>
            </div>
            <div class="form-group">
                <label>
                    경기 날짜
                    <input type="text" id="match-date" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    현재 정원
                    <input type="text" th:value="${'('+ resMatchupRequestDto.currentParticipantCount + ' / '+resMatchupRequestDto.maxParticipants + ')'}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    요청 상태
                    <input type="text" id="status" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    참가 요청 횟수(최대 2번)
                    <input type="text" th:value="*{matchupRequestSubmittedCount}" readonly>
                </label>
            </div>
            <div class="form-group">
                <label>
                    승인 취소 요청 횟수(최대 1번)
                    <input type="text" th:value="*{matchupCancelSubmittedCount}" readonly>
                </label>
            </div>
        </form>
        <hr>
        <form th:object="${resMatchupRequestDto}" th:action="@{/matchup/request/edit(request-id=${resMatchupRequestDto.requestId})}" method="post" id="request-info">
            <input type="hidden" th:field="*{requestId}">
            <input type="hidden" th:field="*{matchDatetime}">
            <input type="hidden" th:field="*{matchEndtime}">
            <!--        <label>-->
            <!--            소개:-->
            <!--            <textarea cols="30" rows="5" placeholder="자기 소개를 입력하세요." th:text="*{selfIntro}" th:field="*{selfIntro}" required>-->
            <!--                </textarea>-->
            <!--        </label>-->
            <!--        <label>-->
            <!--            참가 인원:-->
            <!--            <select size="5"  th:field="*{participantCount}" required></select>-->
            <!--        </label>-->
            <!--        <div class="button-row">-->
            <!--            <button type="submit" class="modify-btn">수정하기</button>-->
            <!--            <button type="button" class="delete-btn">취소하기</button>-->
            <!--        </div>-->

            <label>
                소개(300자)
                <textarea placeholder="자기 소개를 입력하세요." th:text="*{selfIntro}" th:field="*{selfIntro}" required maxlength="300">
                </textarea>
            </label>
            <label>
                참가 인원
                <select th:field="*{participantCount}" required></select>
            </label>

            <div class="button-group">
                <button type="submit" class="modify-btn btn">수정하기</button>
                <button type="button" class="cancel-btn" onclick="goBack()">취소하기</button>
            </div>

        </form>
    </div>




</div>

<div th:replace="~{common/footer::footer}"></div>

</body>
</html>