/*제목*/
.page-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2c3e50;
}

/* ===== 공통 레이아웃 ===== */
.form-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid beige;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #2c3e50;
}

/* ===== 폼 그룹 ===== */
.form-group {
    margin-bottom: 2px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: #fafafa;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #3498db;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.15);
    outline: none;
}

textarea{
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

/*읽기 전용*/
#teamName{

    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
    color: #2c3e50;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 6px;
    line-height: 1.4;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}

/*주소 API 사용하는 부분*/
.address-row {
    display: flex;
    gap: 10px; /* 입력창과 버튼 사이 간격 */
}

#sportsFacilityAddress{
    /*주소가 표시되는 부분*/
    flex: 6;
}
.address-row input{
    flex:1;
}

.btn-group{
    display: flex;
    justify-content: center;
}

/* ===== 버튼 스타일 ===== */

input[type="button"],
button{
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}
input[type="button"]:hover,
button:hover{
    background-color: royalblue;
}


/*취소 버튼*/
/* ===== 버튼 ===== */
.cancel-btn {
    padding: 8px 15px;
    margin-left: 10px;
    background-color: white;
    color: #f44336;
    border: 2px solid #f44336;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: mistyrose;
}

.truncate {
    width: 900px;           /* 너비 고정 */
    white-space: pre-wrap;    /* 줄바꿈과 공백 유지 + 자동 줄바꿈 */
    word-break: break-word;   /* 단어 중간이라도 줄바꿈 */
}